@model IEnumerable<PartialViewAspNet.Models.Product>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        @*<th>PK_ProductID</th>*@
        @*<th>ProductCode</th>*@
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th> Point</th>
        <th>PublishDate</th>
        <th>MappedDate</th>
        <th>AllYouCanRead</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_SearchId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_SearchId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_SearchId })
        </td>
        @*<td>@item.PK_ProductID</td>*@
        @*<td>@item.ProductCode</td>*@
        <td>@item.Title</td>
        <td>@item.Author</td>
        <td>@String.Format("{0:F}", item.Price)</td>
        <td>@item.Point</td>
        <td>@String.Format("{0:g}", item.PublishDate)</td>
        <td>@String.Format("{0:g}", item.MappedDate)</td>
        <td>@item.AllYouCanRead</td>
    </tr>
}

</table>

